<div class="card">
    <div class="card__wrap--outer">
        <div class="card__item">
            <div class="img-container">
                <img src="./assets/person-1.jpeg" id="person-img" alt="" />
            </div>
            <div class="content">
                <p>Report for</p>
                <h2>Best Sales</h2>
            </div>
        </div>

        <div class="card__wrap--inner">
            <div class="card__wrap--inner--item">
                <span>Daily</span>
                <span class="highLight">Weekly</span>
                <span>Monthly</span>
            </div>
        </div>

    </div>
</div>