<div class="card">
    <div class="card__wrap--outer">
        <div class="card__wrap--inner">
            <div class="card__item">
                <img src="person-1.jpeg" id="person-img" alt="" />
            </div>
            <!-- <div class="card__price">
                <small>{{product.price| currency:'USD':true}}</small>
            </div>
            <div class="card__footer">
                <p>{{ product.description| slice:0:8 }}</p>
                <div class="card__footer__stock">
                    <div>InStock </div>
                    <small>{{ product.stock}}</small>
                </div>
            </div> -->
        </div>
    </div>
</div>