.flex {
  display: flex;
  flex-wrap: wrap;
}

.personal-card {
  margin-right: 10px;
  width: 255px;
}
.products-card {
  width: 1052px;
}
// 1250
@media screen and (max-width: 992px) {
  .personal-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .products-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
