// .grid {
// display: grid;
// grid-template-columns: 500px 1fr;
// gap: 2rem 1rem;
// }

.flex {
  display: flex;
  flex-wrap: wrap;
}

.personal-card {
  margin-right: 10px;
  width: 255px;
}
.products-card {
  width: 1000px;
}
