.flex {
  display: flex;
  flex-wrap: wrap;
}

.personal-card {
  margin-right: 5px;
  width: 255px;
}

.products-card {
  width: calc(100% - 260px);
}

// 1250
@media screen and (max-width: 481px) {
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .personal-card {
    width: 100%;
    text-align: center;
  }

  .products-card {
    width: 100%;
  }
}