<div class="card" ng-if="product">
    <div class="card__wrap--outer" [ngStyle]="{'background': color ? color : '#FF8B64'}">
        <div class="card__wrap--inner">
            <div class="card__item">
                <h3>{{product.title| slice:0:8}}</h3>
                <div class="card__item__dots">...</div>
            </div>
            <div class="card__content">
                <span class="card__content__price">
                    <small>{{product.price| currency:'USD':true}}</small>
                </span>
                <span class="card__content__footer">
                    <p>{{ product.description| slice:0:20 }}</p>
                    <div class="card__content__footer__stock">
                        <div>InStock </div>
                        <small>{{ product.rating.count}}</small>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>