<nav class="navbar">
    <div class="nav-center">
        <div class="nav-header">
            <a href="index.html" class="nav-logo">
                <img src="./assets/Logo.svg" alt="LuftBorn" />
            </a>

        </div>
        <div class="nav-links">
            <a href="index.html" class="nav-link"> home </a>
            <a href="about.html" class="nav-link"> about </a>
            <a href="tags.html" class="nav-link"> tags </a>

            <div class="nav-link contact-link">
                <a href="contact.html" class="btn"> contact </a>
            </div>
        </div>
    </div>
</nav>